@import url("https://fonts.googleapis.com/css2?family=Varela+Round");
@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");
/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Petit+Formal+Script&family=Pinyon+Script&family=Playball&display=swap');

p {
  font-size: 9px;
}

h1,
h3,
h4 {
  margin: 0;
}

.container {
  display: flex;
  max-height: 100vh;
  height: 100vh;
  max-width: 100vw;
  width: 100vw;
  gap: 50px;
  align-items: center;
  justify-content: center;
  align-content: center;
  /* align-self: center; */
  font-family: "Varela Round, san-serif";
  line-height: 1.5em;
}

.item {
  --font: "Dancing Script";
  --color: #404040;
  width: 33.3%;
  height: 95%;
  background-color: var(--color);
  border-radius: 10px;
  box-shadow:
    #3c40434d 0px 1px 2px 0px,
    #3c404326 0px 1px 2px 0px;
  position: relative;
  /* cursor: pointer; */
}

.item:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  z-index: 2;
  height: 80%;
  box-sizing: border-box;
  border-style: solid;
  border-color: transparent transparent transparent var(--color);
  border-width: 57px;
  filter: drop-shadow(5px 0 4px #00000094);
  transition: filter .5s;
}

.layer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f2f2f2;
  height: 95%;
  border: 1px solid #fff;
  border-radius: inherit;
  padding: 20px;
  box-shadow:
    #00000012 0px 1px 2px,
    #00000012 0px 2px 4px,
    #00000012 0px 4px 8px,
    #00000012 0px 8px 16px,
    #00000012 0px 16px 32px,
    #00000012 0px 32px 64px;
  position: relative;
  left: 15px;
  top: 17px;
  z-index: 10;
  transition: left 1s;
  animation: animationShowBill 3s;
}

.title-bill {
  font-weight: 900;
  /* text-align: center; */
  /* color: var(--color); */
  font-style: italic;
  /* font-weight: 700; */
  font-family: var(--font), cursive;
  /* margin-left: px; */
}

img {
  margin: 0;
  width: 60px;
  height: 60px;
}

/* h4 {
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding-top: 10px;
} */

.name-res {
  text-align: center;
  position: absolute;
  left: 7px;
  writing-mode: vertical-lr;
  z-index: 3;
  top: 110px;
  font-style: italic;
  font-weight: 700;
  font-family: var(--font), cursive;
  color: #f2f2f2;
}

p {
  color: #555;
}

.span-footer {
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: var(--color);
  border-radius: 50%;
  display: grid;
  place-content: center;
  box-shadow:
    #00000012 0px 1px 2px,
    #00000012 0px 2px 4px,
    #00000012 0px 4px 8px,
    #00000012 0px 8px 16px,
    #00000012 0px 16px 32px,
    #00000012 0px 32px 64px;
  font-size: 14px;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

/* .item:hover:after {
  filter: drop-shadow(5px 0 4px
  #0000001a);
} */

.item:hover .layer {
  left: 50px;
}

@keyframes animationShowBill {
  0% {
    left: 0;
    z-index: 0;
  }

  50% {
    left: 60px;
    z-index: 0;
    top: 5px
  }

  75% {
    left: 70px;
    z-index: 0;
    top: 10px
  }

  100% {
    left: 15px;
    z-index: 10;
    top: 17px
  }
}

.bill-top {
  display: flex;
  height: 80px;
  width: 100%;
  flex-wrap: wrap;
  flex-basis: 200;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between !important;
  align-self: center;
}

.top-right h6 {
  /* margin-top: 23px; */
  /* font-size: 7px; */
  /* font-style: italic; */
  font-weight: 600;
  font-family: "Allura", cursive;
  /* font-size: 16px; */
}

.top-right {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  /* justify-content: end !important; */
  /* align-self: self-start; */
  align-self: center;
  align-items: center;
}

.position {
  font-weight: 700;
  font-family: var(--font), cursive;
}

.title-text {
  font-weight: 700;
  text-align: center;
  font-family: "Playball", cursive;
  /* margin-top: 20px; */
  margin-bottom: 20px;
}

.inside-middle {
  display: flex;
  gap: 10px;
  /* justify-content: space-between; */
}

.invoice-details {
  flex: 1;
  /* display: flex; */
  justify-content: flex-end;
  align-items: center;

}

.invoice-table {
  width: 100%;
  border-top: 0.5px dashed grey;
  border-bottom: 0.5px dashed grey;
  border-collapse: collapse;
  font-family: "Playball",cursive;
}

.invoice-table thead tr td {
  font-size: 12px;
  letter-spacing: 1px;
  color: grey;
  padding: 8px 0;
}

.invoice-table thead tr td:nth-last-child(1),
.row-data td:nth-last-child(1),
.calc-row td:nth-last-child(1) {
  text-align: right;
}

.invoice-table thead tr td:nth-last-child(2),
.row-data td:nth-last-child(2),
.calc-row td:nth-last-child(2) {
  text-align: right;
}

.invoice-table thead tr td:nth-last-child(3),
.row-data td:nth-last-child(3),
.calc-row td:nth-last-child(3) {
  text-align: center;
}

.invoice-table tbody tr td {
  padding: 8px 0;
  letter-spacing: 0;
}

.invoice-table .row-data #unit {
  text-align: right;
}
.invoice-table .row-data #price {
  text-align: center;
}

.invoice-table .row-data span {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}

.invoice-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
  /* margin-top: 10px; */
  gap: 20px;
  font-family: "Playball",cursive;
}

.legends-table h4{
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 700;
  /* font-style: italic; */
  font-family: var(--font), cursive;
  /* font-size: 50px; */
}

.bill-end h6 {
  font-family: var(--font),cursive;
  font-weight: 700;
  font-size: 26px;
}

.bill-end {
  display: flex;
  width: 100%;
  align-items: center;
  align-content: center;
  align-self: center;
  /* gap: 10px; */
}

.fancy {
  background-color: transparent;
  border: 2px solid grey;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  /* display: inline-block; */
  display: inline;
  float: right;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;

 }

 .fancy::before {
  content: " ";
  width: 0.9375rem;
  height: 2px;
  background: black;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
 }

 .fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-family: var(--font),cursive;
  font-weight: 700 !important;
 }

 .fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, left 0.3s ease-out;
 }

 .fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
 }

 .fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
 }

 .fancy:hover {
  color: white;
  background: black;
 }

 .fancy:hover::before {
  width: 0.9375rem;
  background: white;
 }

 .fancy:hover .text {
  color: white;
  padding-left: 1.5em;
 }

 .fancy:hover .top-key {
  left: -2px;
  width: 0px;
 }

 .fancy:hover .bottom-key-1,
  .fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
 }

 .inside-bill-end {
  display: flex;
  /* gap: 10px; */
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  align-content: center;
 }


 .modal-body {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
 }

 .footer-btn {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
 }

 .footer-btn:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
 }

 @keyframes pulse512 {
  0% {
   box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
   box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
   box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
 }

 .footer-btn-deny {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #ff9973,#ff4500);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
 }

 .footer-btn-deny:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
 }

 @keyframes pulse512 {
  0% {
   box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
   box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
   box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
 }
