.container {
  /* margin-top: 4em; */
  /* margin-bottom: 1em; */
  max-height: 100vh;
  /* height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 60vw;
  /* text-align: center; */
  /* align-self: center; */
  align-content: space-evenly;
  column-gap: 2em;
  row-gap: 3em;
}


.card {
  flex: 1;
  width: 300px;
  height: auto;
  padding: .8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


.card-img {
  background-color: #ffcaa6;
  height: 40%;
  width: 100%;
  border-radius: .5rem;
  transition: .3s ease;
}

img {
  width: 150px;
  height: 150px;
}

.card-info {
  padding-top: 10%;
}

svg {
  width: 20px;
  height: 20px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
}

.text-body {
  font-size: .9em;
  padding-bottom: 10px;
}

/*Button*/
.card-button {
  border: 1px solid red;
  background-color: red;
  display: flex;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
}

/*Hover*/
.card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
  border: 1px solid rgba(255, 215, 0);
  background-color: rgba(255, 215, 0);
}

.pagination-spreads {
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.pagination-spreads::ng-deep ul {
  /* flex-basis: 1; */
  border-radius: 10rem;
  margin-left: 22.8%;
  width: 20%;
  border: solid 1px black;
}


.pagination-spreads::ng-deep li {
  background-color: rgba(255, 215, 0);
  margin: 2px;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* border: solid 0px #fff; */
  border-radius: 10rem;
  /* transition: all 1s ease; */
}

/* I hide the previus when I am at number 1. with ::before */
.pagination-spreads::ng-deep ul>li.disabled {
  display: none !important;
}

/* deactivated numbers will be grayed out */
.pagination-spreads::ng-deep ul>li:not(.active)>a {
  /* border:  0px #fff; */
  border-radius: 10rem;
  background-color: #fff !important;
  /* border-color: black !important; */
  color: black;
}

.cssbuttons-io-button-cart {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(255, 232, 102, 1) 0%, rgba(255, 215, 0, 1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.cssbuttons-io-button-cart svg {
  margin-right: 6px;
  color: #fff;
}

.cssbuttons-io-button-cart:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.cssbuttons-io-button-cart:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.cssbuttons-io-button {
  /* position: absolute; */
  /* right: ; */
  margin-top: 1%;
  margin-left: 20.3%;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 25px !important;
  /* padding: 0.9em; */
  color: #A9A9A9;
  /* border: 1px solid rgba(255, 215, 0); */
  background-color: white;
  /* background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%); */
  border: none;
  /* box-shadow: 0 0.7em 1.5em -0.5em #14a73e98; */
  letter-spacing: 0.05em;
  border-radius: 50%;
  width: 5vw;
  height: 5vh;
}

.cssbuttons-io-button svg {
  margin-top: 30%;
  margin-right: 50px;
  left: 0;
  width: 5vw;
  height: 5vh;
}

.cssbuttons-io-button-offer {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(135, 206, 250, 1) 0%, rgba(206, 235, 253, 1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.cssbuttons-io-button-offer svg {
  margin-right: 6px;
  color: #fff;
}

.cssbuttons-io-button-offer:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.cssbuttons-io-button-offer:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}


.cssbuttons-io-button-pay {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20, 167, 62, 1) 0%, rgba(102, 247, 113, 1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.cssbuttons-io-button-pay svg {
  margin-right: 6px;
  color: #fff;
}

.cssbuttons-io-button-pay:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.cssbuttons-io-button-pay:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}


.footer-right {
  display: flex;
  position: absolute;
  right: 22.4%;
  bottom: 2%;
  column-gap: 1em;
}


.plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 30px;
  height: 30px;
  font: 30px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
  margin-top: 3px;
}

.minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 30px;
  height: 30px;
  font: 30px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
  margin-top: 3px;
}

.minus:hover {
  background-color: red !important;
}

.plus:hover {
  background-color: green !important;
}

.input {
  border: none;
  /* border-radius: 15px; */
  /* padding: 15px; */
  background-color: #f5f5f5;
  /* box-shadow: 6px 6px 12px #ffffff,
              -6px -6px 12px #c5c5c5; */
  font-size: medium;
  font-weight: bold;
  max-width: 200px;
  transition: all 0.3s ease-in;
 }

.input:focus {
  outline: none;
  border-bottom: 1px solid black;
  transition: all 0.3s ease-in;
}

