.container {
  margin-top: 2em;
  /* margin-bottom: 1em; */
  max-height: 100vh;
  /* height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 60vw;
  /* text-align: center; */
  /* align-self: center; */
  align-content: space-evenly;
  column-gap: 2em;
  row-gap: 3em;
}

.card {
  width: 252px;
  height: 265px;
  background: white;
  border-radius: 30px;
  box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
  transition: 0.2s ease-in-out;
}

.img {
  width: 100%;
  height: 50%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background: linear-gradient(#e66465, #9198e5);
  display: flex;
  align-items: top;
  justify-content: right;
}

.save {
  transition: 0.2s ease-in-out;
  border-radius: 10px;
  margin: 20px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.save .svg {
  transition: 0.2s ease-in-out;
  width: 15px;
  height: 15px;
}

.icon-box {
  margin-top: 15px;
  width: 70%;
  /* padding-left: 10px; */
  padding-bottom: 0;
  /* background-color: #e3fff9; */
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-bottom: 10px;
  align-self: center;
}

.icon-box svg {
  width: 17px;
  margin-bottom: 4px;
}

.text .h3 {
  font-family: 'Lucida Sans' sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: black;
}

.text .p {
  font-family: 'Lucida Sans' sans-serif;
  color: #999999;
  font-size: 13px;
}

.icon-box .span {
  margin-left: 10px;
  font-family: 'Lucida Sans' sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #9198e5;
  margin-top: 12px;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.save:hover {
  transform: scale(1.1) rotate(10deg);
}

.save:hover .svg {
  fill: #ced8de;
}

.cssbuttons-io-button {
  /* position: absolute; */
  /* right: ; */
  margin-top: 1%;
  margin-left: 20.3%;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 25px !important;
  /* padding: 0.9em; */
  color: #A9A9A9;
  /* border: 1px solid rgba(255, 215, 0); */
  background-color: white;
  /* background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%); */
  border: none;
  /* box-shadow: 0 0.7em 1.5em -0.5em #14a73e98; */
  letter-spacing: 0.05em;
  border-radius: 50%;
  width: 5vw;
  height: 5vh;
}

.cssbuttons-io-button svg {
  margin-top: 30%;
  margin-right: 50px;
  left: 0;
  width: 5vw;
  height: 5vh;
}

.pagination-spreads {
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.pagination-spreads::ng-deep ul {
  margin-top: 3%;
  /* flex-basis: 1; */
  border-radius: 10rem;
  margin-left: 24%;
  width: 20%;
  border: solid 1px black;
}


.pagination-spreads::ng-deep li {
  background-color: rgba(255, 215, 0);
  margin: 2px;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* border: solid 0px #fff; */
  border-radius: 10rem;
  /* transition: all 1s ease; */
}

/* I hide the previus when I am at number 1. with ::before */
.pagination-spreads::ng-deep ul>li.disabled {
  display: none !important;
}

/* deactivated numbers will be grayed out */
.pagination-spreads::ng-deep ul>li:not(.active)>a {
  /* border:  0px #fff; */
  border-radius: 10rem;
  background-color: #fff !important;
  /* border-color: black !important; */
  color: black;
}
