<input *ngIf="hcurrenChat === true" type="checkbox" id="check" />
<label *ngIf="hcurrenChat === true" class="chat-btn" for="check">
  <i class="fa-solid fa-comment comment"></i>
  <i class="fa fa-close close"></i>
</label>
<div class="wrapper">
  <div class="header"><h6>Let's Chat - Online</h6></div>
  <div
    class="ps-container ps-theme-default ps-active-y"
    id="chat-content"
    style="
      overflow-y: scroll !important;
      height: 400px !important;
      display: flex;
      flex-direction: column-reverse;
    "
  >
    <ng-container *ngFor="let msg of messages(); index as i">
      <ng-container *ngIf="msg.sender === currentChat.id">
        <div class="media media-chat">
          <img
            class="avatar"
            src="{{ currentChat.avatar }}"
            alt="{{ currentChat.last_name + '' + currentChat.first_name }}"
          />
          <div class="media-body">
            <p>{{ msg.text }}</p>
            <p class="meta">
              {{ moment(msg.createdAt).locale('vi').fromNow() }}
            </p>
          </div>
        </div>
      </ng-container>

      <!-- <div class="media media-meta-day">Today</div> -->
      <ng-container *ngIf="msg.sender === currentUser.id">
        <div class="media media-chat media-chat-reverse">
          <div class="media-body">
            <p>{{ msg.text }}</p>
            <p class="meta">
              {{ moment(msg.createdAt).locale('vi').fromNow() }}
            </p>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px">
      <div
        class="ps-scrollbar-x"
        tabindex="0"
        style="left: 0px; width: 0px"
      ></div>
    </div>
    <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px">
      <div
        class="ps-scrollbar-y"
        tabindex="0"
        style="top: 0px; height: 2px"
      ></div>
    </div>
  </div>

  <div class="publisher bt-1 border-light">
    <img
      class="avatar avatar-xs"
      src="{{ currentChat.avatar }}"
      alt="{{ currentChat.last_name + '' + currentChat.first_name }}"
    />
    <input
      (change)="setText(MessageText.value)"
      (keydown.enter)="onSendInput(MessageText.value)"
      [(ngModel)]="message"
      (focus)="onFocusInput()"
      #MessageText
      class="publisher-input"
      type="text"
      placeholder="Write something"
    />
    <span class="publisher-btn file-group">
      <i class="fa fa-paperclip file-browser"></i>
      <input type="file" />
    </span>
    <a (click)="toggleEmojiPicker()" class="publisher-btn" data-abc="true"
      ><i class="fa fa-smile"></i
    ></a>
    <emoji-mart
      class="emoji-mart emoji-pos"
      set="twitter"
      *ngIf="showEmojiPicker"
      (emojiSelect)="addEmoji($event)"
      title="Pick your emoji…"
      emoji="point_up"
      #emoji
    ></emoji-mart>
    <a (click)="onSend()" class="publisher-btn text-info" data-abc="true"
      ><i class="fa fa-paper-plane"></i
    ></a>
  </div>
</div>
