.container-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* align-items: center; */
  /* align-self: center; */
  /* align-content: center; */
}

footer {
  background-image: url('https://preview.colorkit.co/color/262626.png?size=vertical-wallpaper&static=true');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
