<div class="container">
  <div class="top">
    <img
      src="https://images.vexels.com/content/129964/preview/curly-lines-ornate-divider-9cf66b.png"
      alt="divider"
    />
    <h1>CONTACT</h1>
    <img
      src="https://images.vexels.com/content/129964/preview/curly-lines-ornate-divider-9cf66b.png"
      alt="divider"
    />
  </div>
  <div class="mid">
    <div class="mid-left">
      <div class="mid-left-top">
        <h2>Contact US</h2>
        <p>{{ chinhanh.diaChi }}</p>
      </div>
      <div class="mid-left-bot">
        <h2>Follow Us</h2>
        <div style="margin-top: 1rem;" class="social-icon">
          <i class="fab fa-youtube"></i>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-github"></i>
        </div>
      </div>
    </div>
    <div class="mid-right">
      <h2>TEL: 0787940318</h2>
      <h2>EMAIL: trinhminhhieu2712@gmail.com</h2>
    </div>
    <div class="map-box">
      <div id="map4"></div>
    </div>
  </div>
  <div class="bot">
    <img
      src="https://images.vexels.com/content/129964/preview/curly-lines-ornate-divider-9cf66b.png"
      alt="divider"
    />
    <img
      src="https://images.vexels.com/content/129964/preview/curly-lines-ornate-divider-9cf66b.png"
      alt="divider"
    />
    <img
      src="https://images.vexels.com/content/129964/preview/curly-lines-ornate-divider-9cf66b.png"
      alt="divider"
    />
  </div>
</div>
